
/*
COLOR PALLETE REFERENCES
Blue Hues
 - 96C4DB - lightest
 - 7DA5B6
 - 5A7E8D
 - 3C5E6C
 - 283A42 - darkest
White Hues
 - EEEEED - lightest
 - C9C9C8
 - BBBBBB
 - D0D0CF
 - D8D8D6 - darkest
Purple Hues
 - 513A4A - lightest 
 - 463C43
 - 574D54
 - 322B30
 - 1C191B - darkest
*/

body {
  background-color: #C9C9C8;
}

#root {
  height: 100%;
  font-family: 'Montserrat';
  color: #1C191B;  
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}


/* NAV BAR */
nav {
  width: 100%;
  background-color: #96C4DB;
  height: 3em;
  display:flex;
  flex-direction: column;
  align-items:center;
  justify-content: center;
}

  nav ul {
    width: 100%;
    max-width: 700px;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    list-style-type: none;
    padding: 0px;
  }

    nav ul li {
      width: 30%;
      text-align: center;
    }

      nav ul li a {
        text-decoration: none;
        color: #574D54;
      }

/* END NAV BAR */

/* FOOTER */
footer {
  width: 100%;
  background-color: #1C191B;
  text-align: center;
  color: #BBBBBB;
  padding: 7px;
}
/* END FOOTER */

/* HOME PAGE */
.landing-page {
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: space-around;
}

  #title {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 45%;
  }

  #title h1 {
    width: 100%;
    margin-bottom: 10px;
  }

  #title h2 {
    width: 70%;
    text-align: center;
    color: #555555;
  }

  #login {
    width: 45%;
    max-width: 400px;
    background-color: #EEEEED;
    height: 100%;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

/* END HOME PAGE */


#sideNav {
    display: flex;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: #FFFFFF;
    width: 40vw;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.503);
}

#post-form {
    background-color: #FFFFFF;
    display: flex;
    height: 80vh;
    width: 50vw;
    justify-content: space-around;
    align-items: center;
    margin-top: 100px;
    flex-direction: column;
    border-radius: 5px;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.505);
}

.form-field {
    width: 90%;
    display: flex;
    justify-content: space-between;
    max-width: inherit;
}

#form-field-left {
    display: flex;
    width: 100%;
    margin: auto;
}

#form-field-right {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 200px;
    margin: auto;
}

#user-img {
    width: 60px;
    height: 60px;
    border-radius: 50px;
}